* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'COCOGOOSE_light';
  src: url("../fonts/COCOGOOSE_Light/COCOGOOSE.woff2");
}

.lato_regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.lato_bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.cocogoose_regular {
  font-family: 'COCOGOOSE_light', sans-serif;
  font-weight: 400;
}

.cocogoose_bold {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 700;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #272a31;
}

.top-header .important-links {
  margin: 5px 10%;
}

.top-header li {
  display: inline-block;
  margin-left: 1.2rem;
  color: #fff;
}

img {
  max-width: 5%;
  margin-right: auto;
}

header {
  width: 100%;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10%;
}

.nav-container .menu-nav li {
  margin: 0 2.5rem;
  display: inline-block;
  list-style: none;
  font-size: 1.2rem;
}

a {
  color: #272a31;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ec5242;
}

.menu-nav__btn {
  border: 4px solid #ec5242;
  padding: 1rem 1rem;
  margin-left: 3rem;
  font-size: 1.2rem;
}

.hero {
  background: url(../img/hero.jpg) no-repeat;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(39, 42, 49, 0.7);
  background-blend-mode: soft-light;
}

.hero .hero-container {
  margin: 10%;
  color: #ec5242;
  width: 49%;
  line-height: 5.5rem;
}

.hero .hero-container__quote {
  font-size: 3rem;
}

.hero .hero-container__title {
  font-size: 5rem;
}

.hero .hero-container__text-box {
  color: #d3d3d3;
  line-height: 2rem;
  border: 1px solid #d3d3d3;
  padding: 1rem;
  width: 70%;
  font-size: 1rem;
}

.hero .hero-container__date {
  color: #d3d3d3;
  font-size: 2rem;
}

.hero .hero-container__site {
  line-height: 0;
  font-size: 1.5rem;
  color: #d3d3d3;
}

.main-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
  background: url(../img/icons/pattern_bg.png);
  background-color: rgba(255, 255, 255, 0.96);
  background-blend-mode: soft-light;
}

.main-program__title {
  font-size: 2rem;
}

.main-program__see-more {
  padding: 4rem;
}

.divider {
  border: 1px solid #ec5242;
  width: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.main-program-grid {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 300px;
      grid-template-rows: 300px;
  margin: 0 10%;
  gap: 3px;
}

.main-program-grid__grid-item {
  background: #272a31;
  background: rgba(39, 42, 49, 0.95);
  text-align: center;
  padding: 20px;
  color: #d3d3d3;
  border: 2px solid rgba(39, 42, 49, 0.95);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-program-grid__grid-item i {
  padding: 1rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-program-grid__grid-item__title {
  padding-bottom: 1rem;
  color: #ec5242;
}

.main-program-grid__grid-item__content {
  padding: 0 2rem;
  font-size: 1.1rem;
}

.main-program-grid__grid-item:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid #ec5242;
  background-color: rgba(255, 255, 255, 0.96);
  color: #272a31;
}

.main-program-grid__grid-item:hover .main-program-grid__grid-item__title {
  color: #272a31;
}

.main-program-grid__grid-item:hover i {
  color: #ec5242;
}
/*# sourceMappingURL=main.css.map */