* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'COCOGOOSE_light';
  src: url("../fonts/COCOGOOSE_Light/COCOGOOSE.woff2");
}

.lato_regular {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.lato_bold {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.cocogoose_regular {
  font-family: 'COCOGOOSE_light', sans-serif;
  font-weight: 400;
}

.cocogoose_bold {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: 700;
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #272a31;
}

.top-header .important-links {
  margin: 5px 10%;
}

.top-header li {
  display: inline-block;
  margin-left: 1.2rem;
  color: #fff;
}

img {
  max-width: 5%;
  margin-right: auto;
}

header {
  width: 100%;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10%;
}

.nav-container .menu-nav li {
  margin: 0 2.5rem;
  display: inline-block;
  list-style: none;
  font-size: 1.2rem;
}

@media (max-width: 599px) {
  .nav-container .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .nav-container .menu-nav .menu-nav__item {
    width: 15rem;
    padding: 1rem 0;
    font-size: 2rem;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

.logo {
  width: 200px;
  max-width: 100%;
  padding: 10px;
}

a {
  color: #272a31;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media (max-width: 599px) {
  a {
    color: #fff;
  }
}

a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #ec5242;
}

.menu-nav__btn {
  border: 4px solid #ec5242;
  padding: 1rem 1rem;
  margin-left: 3rem;
  font-size: 1.2rem;
}

.hero {
  background: url(../img/hero.jpg) no-repeat;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(39, 42, 49, 0.7);
  background-blend-mode: soft-light;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero .hero-container {
  margin: 10%;
  color: #ec5242;
  width: 49%;
  line-height: 5.5rem;
}

.hero .hero-container__quote {
  font-size: 3rem;
}

.hero .hero-container__title {
  font-size: 5rem;
}

.hero .hero-container__text-box {
  color: #d3d3d3;
  line-height: 2rem;
  border: 1px solid #d3d3d3;
  padding: 1rem;
  width: 70%;
  font-size: 1rem;
}

.hero .hero-container__date {
  color: #d3d3d3;
  font-size: 2rem;
}

.hero .hero-container__site {
  line-height: 0;
  font-size: 1.5rem;
  color: #d3d3d3;
}

.main-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 4rem;
  background: url(../img/icons/pattern_bg.png);
  background-color: rgba(255, 255, 255, 0.96);
  background-blend-mode: soft-light;
}

.main-program__title {
  font-size: 2rem;
}

.main-program__see-more {
  padding: 4rem;
}

.divider {
  border: 1px solid #ec5242;
  width: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.main-program-grid {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: 0 5%;
  gap: 3px;
}

.main-program-grid__grid-item {
  background: #272a31;
  background: rgba(39, 42, 49, 0.95);
  text-align: center;
  padding: 20px;
  color: #d3d3d3;
  border: 2px solid rgba(39, 42, 49, 0.95);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.main-program-grid__grid-item i {
  padding: 1rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main-program-grid__grid-item__title {
  padding-bottom: 1rem;
  color: #ec5242;
}

.main-program-grid__grid-item__content {
  padding: 0 2rem;
  font-size: 1.1rem;
}

.main-program-grid__grid-item:hover {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid #ec5242;
  background-color: rgba(255, 255, 255, 0.96);
  color: #272a31;
}

.main-program-grid__grid-item:hover .main-program-grid__grid-item__title {
  color: #272a31;
}

.main-program-grid__grid-item:hover i {
  color: #ec5242;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem 0;
  background: url("../img/featured-bg.jpg");
  background-color: #272a31;
  background-blend-mode: soft-light;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.featured-speakers {
  font-size: 2rem;
  color: #d3d3d3;
}

.featured-speakers__grid {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: 4rem 10%;
  gap: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-speakers__grid-item {
  color: #d3d3d3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-speakers__grid-item__img {
  width: 20%;
  max-width: 100%;
  height: auto;
  margin: 12px;
}

.featured-speakers__grid-item__content__title {
  font-size: 1.5rem;
}

.featured-speakers__grid-item__content__description {
  color: #ec5242;
  font-size: 0.9rem;
}

.content-divider {
  width: 20px;
  margin: 12px 0;
}

.partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  background-color: rgba(255, 255, 255, 0.96);
  background-blend-mode: soft-light;
}

.partner__title {
  font-size: 2rem;
  color: #272a31;
}

.partner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 10%;
}

.partner-list__item {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0 1.5rem;
}

.partner-list__item-img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 10%;
  background-color: #272a31;
}

@media (max-width: 599px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  margin: 2rem;
  max-width: 100%;
  width: 20rem;
}

.footer__content {
  width: 100%;
  color: #d3d3d3;
}

.footer__content__text {
  padding-top: 1rem;
}

@media (max-width: 599px) {
  .top-header {
    display: none;
  }
  .logo,
  .menu-nav__btn {
    display: none;
  }
  .menu-btn {
    position: absolute;
    z-index: 999;
    left: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #ec5242;
  }
  .menu-btn__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #d3d3d3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #ec5242;
  }
  .menu-btn__burger::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background-color: #d3d3d3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #ec5242;
  }
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    top: 8px;
    width: 28px;
    height: 3px;
    background-color: #d3d3d3;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #ec5242;
  }
  .menu-btn__burger.open {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    background: transparent;
  }
  .nav {
    position: fixed;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: #272a31;
    color: white;
    list-style: none;
    padding-top: 4rem;
  }
  .showMenu {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.about-hero {
  height: 90vh;
  width: 100%;
  overflow: hidden;
  background-color: rgba(39, 42, 49, 0.7);
  background-blend-mode: soft-light;
  background: url(../img/about-hero.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 4rem;
  background-color: #272a31;
  background-attachment: scroll;
  text-align: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.about-hero__quote {
  color: #ec5242;
  font-size: 1.2rem;
  margin: 0 5%;
  text-shadow: 0 0.5px 1px black;
}

.about-hero__title {
  color: #ec5242;
  font-size: 1.7rem;
  margin: 0 5%;
  padding: 1rem 0;
  text-shadow: 0 0.5px 1px black;
}

.about-hero__text-content {
  color: #272a31;
  background-color: #fff;
  border: 2px solid #d3d3d3;
  margin: 1rem 5%;
  padding: 1rem;
}

.about-hero__contact-us {
  color: #d3d3d3;
  padding-bottom: 2rem;
  text-shadow: 0 0.5px 1px black;
}

.about-hero__contact-us__email {
  font-weight: 700;
}

.anifans-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #272a31;
}

.anifans-logo__title {
  padding-top: 2rem;
  margin: 0 5%;
}

.anifans-logo__text-content {
  margin: 0 5%;
}

.anifans-logo__logo {
  max-width: 90%;
  margin: 2rem auto 2rem auto;
  border: 1px solid #d3d3d3;
}

.anifans-logo__divider {
  height: 2px;
  color: #d3d3d3;
  width: 100%;
}

.anifans-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #272a31;
}

.anifans-logo__title {
  padding-top: 2rem;
  margin: 0 5%;
}

.anifans-logo__text-content {
  margin: 0 5%;
}

.anifans-logo__logo {
  max-width: 90%;
  margin: 2rem auto 2rem auto;
  border: 1px solid #d3d3d3;
}

.anifans-logo__divider {
  height: 2px;
  color: #d3d3d3;
  width: 100%;
}

.past-expo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
  text-align: center;
  color: #272a31;
}

.past-expo__title {
  margin: 0 5%;
}

.past-expo__text-content {
  margin: 0 5%;
}

.past-expo__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 1rem;
  margin: 2rem 0;
  color: #fff;
  width: 90%;
}

.past-expo__grid-item__item1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: url(../img/about/about-grid.jpg);
  background-color: rgba(236, 82, 66, 0.9);
  background-attachment: scroll;
  background-blend-mode: soft-light;
  padding: 4rem 5%;
  background-size: contain;
}

.past-expo__grid-item__item1__title {
  font-size: 2rem;
}

.past-expo__grid-item__item2 {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background: url(../img/about/about-grid2.jpg);
  background-color: rgba(236, 82, 66, 0.9);
  background-attachment: scroll;
  background-blend-mode: soft-light;
  padding: 4rem 5%;
  background-size: contain;
}

.about-divider {
  border: 1px solid #ec5242;
  width: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-bottom: 1rem;
}
/*# sourceMappingURL=main.css.map */