// Used on light backgrounds
$primary_dark: #272a31;

// Used for titles and subtitles
$primary_important: #ec5242;

// Used on dark backgrounds
$primary_light: #d3d3d3;

// White
$white: #fff;

// Black
$black: #000;

// Opaque Background
$opaque: rgba($color: $primary_dark, $alpha: 0.7);

// Light Background
$light: rgba($color: $white, $alpha: 0.96);

// If dark bg, return light color and viceversa
@function set-text-color($color) {
  @if (lightness($color)) > 40% {
    @return $primary_dark;
  }

  @else {
    @return $primary_light;
  }
}

$opacity: 0.95;

@mixin bg-opacity($color, $opacity) {
  background: $color;
  background: rgba($color, $opacity);
}
