.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background: url('https://w.wallhaven.cc/full/xl/wallhaven-xl3y3o.jpg');
  background-color: $primary_dark;
  background-size: cover;
  background-blend-mode: soft-light;
  &-speakers {
    font-size: 2rem;
    color: set-text-color($primary_dark);
  }
}

.featured-speakers__grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: 4rem 10%;
  gap: 3rem;
  align-items: center;
  &-item {
    color: set-text-color($primary_dark);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__img {
      width: 20%;
      max-width: 100%;
      height: auto;
      margin: 12px;
    }
    &__content {
      &__title {
        font-size: 1.5rem;
      }
      &__description {
        color: $primary_important;
        font-size: 0.9rem;
      }
    }
  }
}

.content-divider {
  width: 20px;
  margin: 12px 0;
}