.hero {
  background: url(../dist/img/1108683.jpg) no-repeat fixed; 
  height: 100vh;
  width: 100%;
  overflow: hidden;
  // background-color: rgba($color: $primary_dark, $alpha: 0.7);
  // background-blend-mode: soft-light;
}