@import "functions-mixins";

.top-header {
  display: flex;
  justify-content: flex-end;
  background: $primary_dark;

  .important-links {
    margin: 5px 10%;
  }

  li {
    display: inline-block;
    margin-left: 1.2rem;
    color: $white;
  }
}

img {
  max-width: 5%;
  margin-right: auto;
}

header {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 10%;

  .menu-nav {
    li {
      margin: 0 2.5rem;
      display: inline-block;
      list-style: none;
      font-size: 1.2rem;
    }
  }
}

.logo {
  width: 200px;
  max-width: 100%;
  padding: 10px;
}

a {
  color: $primary_dark;
  text-decoration: none;

  @include unhover;
}

a:hover {
  @include hover-transition;
}

.menu-nav__btn {
  border: 4px solid $primary_important;
  padding: 1rem 1rem;
  margin-left: 3rem;
  font-size: 1.2rem;
}
