@import 'media-queries';

.featured {
  @include flex-column;

  padding: 4rem 0;
  background: url('../img/featured-bg.jpg');
  background-color: $primary_dark;
  background-blend-mode: soft-light;

  @include responsive-bg;

  &-speakers {
    font-size: 2rem;
    color: set-text-color($primary_dark);
  }
}

.featured-speakers__grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin: 4rem 10%;
  gap: 3rem;
  align-items: center;

  @include for-phone-only {
    width: 90%;
    grid-template-columns: auto;
    margin: 2rem 5%;
    gap: 3rem;
  }

  @include for-tablet {
    grid-template-columns: auto;
    width: 80%;
  }

  &-item {
    color: set-text-color($primary_dark);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    @include for-mini-device {
      font-size: 0.8rem;
    }

    &__img {
      width: 20%;
      max-width: 100%;
      height: auto;
      margin: 0 12px;

      @include for-phone-only {
        width: 30%;
      }
    }

    &__content {
      &__title {
        font-size: 1.5rem;

        @include for-mini-device {
          font-size: 1.1rem;
        }
      }

      &__description {
        color: $primary_important;
        font-size: 0.9rem;

        @include for-mini-device {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.content-divider {
  width: 20px;
  margin: 12px 0;
}
