@import 'media-queries';

.footer {
  @include flex-row;

  @include for-phone-only {
    padding: 0;
  }

  padding: 4rem 10%;
  background-color: $primary_dark;

  &__logo {
    margin: 2rem;
    max-width: 100%;
    width: 20rem;

    @include for-tablet {
      width: 15rem;
    }
  }

  &__content {
    width: 100%;
    color: set-text-color($primary_dark);

    &__text {
      padding-top: 1rem;

      @include for-phone-only {
        display: none;
      }

      @include for-tablet {
        font-size: 0.8rem;
      }
    }
  }
}
