@import 'media-queries';

.hero {
  background: url(../img/hero.jpg) no-repeat;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  background-color: $opaque;
  background-blend-mode: soft-light;

  @include responsive-bg;

  @include for-phone-only {
    background-position: center right;
  }

  .hero-container {
    margin: 10% 10% 5% 10%;
    color: $primary_important;
    width: 49%;
    line-height: 5.5rem;

    @include for-phone-only {
      line-height: 2.5rem;

      @include phone-margin;

      width: 90%;

      @include flex-column;

      align-items: flex-start;
      padding-top: 4rem;
    }

    &__quote {
      font-size: 3rem;

      @include for-phone-only {
        font-size: 1.2rem;
      }
    }

    &__title {
      font-size: 5rem;

      @include for-phone-only {
        font-size: 1.7rem;
      }
    }

    &__text-box {
      color: set-text-color($primary_dark);
      line-height: 2rem;
      border: 1px solid $primary_light;
      padding: 1rem;
      width: 70%;
      font-size: 1rem;

      @include for-phone-only {
        width: 100%;
        margin-top: 2rem;
      }
    }

    &__date {
      color: set-text-color($primary_dark);
      font-size: 2rem;

      @include for-phone-only {
        font-size: 1.2rem;
        padding: 2rem 0;
      }
    }

    &__site {
      line-height: 1.5rem;
      font-size: 1.5rem;
      color: set-text-color($primary_dark);

      @include for-phone-only {
        font-size: 0.8rem;
        padding-bottom: 4rem;
      }
    }
  }
}
