.main-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  background: url(../img/icons/pattern_bg.png);
  background-color: $light;
  background-blend-mode: soft-light;

  &__title {
    font-size: 2rem;
  }

  &__see-more {
    padding: 4rem;

    @include for-phone-only {
      display: none;
    }
  }
}

.divider {
  @include divider;
}

.main-program-grid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  margin: 0 5%;
  gap: 3px;

  @include for-phone-only {
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 1rem;
    margin: 2rem 0;
    color: $white;
    width: 90%;
  }

  @include for-tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  &__grid-item {
    @include bg-opacity ($primary_dark, $opacity);

    text-align: center;
    padding: 20px;
    color: set-text-color($primary_dark);
    border: 2px solid rgba($color: $primary_dark, $alpha: 0.95);

    @include unhover;

    @include for-phone-only {
      @include flex-row;

      align-items: center;
    }

    i {
      padding: 1rem;
      align-items: baseline;
    }

    &__title {
      padding-bottom: 1rem;
      color: $primary_important;

      @include for-phone-only {
        padding: 0;
      }

      @include for-mini-device {
        font-size: 0.8rem;
      }
    }

    &__content {
      padding: 0 1.5rem;
      font-size: 0.9rem;

      @include for-mini-device {
        font-size: 00.8rem;
        padding: 0 1rem;
      }
    }

    &__button {
      background-color: $primary_important;
      color: $white;
      margin: 2rem 10%;
      padding: 3rem;
      text-align: center;
      font-size: 1.2rem;

      @include for-mini-device {
        padding: 2rem 3rem;
      }

      @include for-laptop-up {
        display: none;
      }
    }
  }

  &__grid-item:hover {
    @include active-border;
  }
}
